body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#navWrapper {
  position: absolute;
  top: 0;
  left: 0;
}

#navBurger {
  position: absolute;
  transition: left 500ms ease-in-out;
  left: 0;
}

#navBurger p {
  width: 5.7vw;
  height: 1vw;
  background: black;
  border-radius: 5px;
  margin: 1vw;
}

#burger1 {
  transition: all 200ms ease-in-out;
  transform-origin: left;
}

#burger2 {
  transition: all 200ms ease-in-out;
}

#burger3 {
  transition: all 200ms ease-in-out;
  transform-origin: left;
}

.burger1Active {
  transform: rotateZ(45deg);
}

.burger2Active {
  opacity: 0;
}

.burger3Active {
  transform: rotateZ(-45deg);
}

/* nav bar */

#nav {
  height: 100vh;
  background-color: white;
  width: 60vw;
  margin: 0 auto;
  box-shadow: 7px 0px 5px 1px rgba(189,189,189,0.5);
  position: fixed;
  top: 0;
  font-size: 250%;
  display: flex;
  justify-content: center;
  left: -70vw;
  transition: left 500ms ease-in-out;
}

#textWrapper {
  width: 80%;
}

#copyright {
  font-size: 60% !important;
  text-align: center;
}
