#logInScreen {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    font-size: 4vmin;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 200ms ease-in-out;
}

#startScreen  {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#startScreen img {
    width: 55vw;
    margin: 10vh 0 3vh 0;
}

#startScreen #buttonWrapper {
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 10vh 0;
}

.startButton {
    width: 100%;
    border-radius: 3px;
    padding: 3vw;
    margin: 2vh 0 2vh 0;
    text-align: center;
    background: #486491;
    color: white;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    letter-spacing: .35px;
    user-select: none;
    outline: none;
}

#buttonWrapper > span {
    font-size: 3vmin;
}

#continueWithGoogle {
    background: #fff;
    width: 100%;
    color: #4285F4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-family: 'Roboto', 'sans serif';
    border-radius: 3px;
    padding: 2vw 3vw;
    margin: 2vh 0 2vh 0;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    user-select: none;
}

#continueWithGoogle img {
    width: 12vw;
    margin: 0 2vw 0 0;
}

#emailWrapper {
    min-width: 200vw;
    height: 100vh;
    position: relative;
    left: 0;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    transition: left 200ms ease-in-out;
}

#signInWrapper, #signUpWrapper {
    min-width: 100vw;
    height: 65vh;
    margin-top: 9vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: opacity 200ms ease-in-out;
}

#passwordForgot, #goToSignUp, #goToSignIn {
    width: 70vw;
    text-align: left;
    color: cornflowerblue;
    text-decoration: underline;
    font-size: 4vmin;
}

.continueWithEmail {
    width: 70vw;
    margin-top: 10vh;
}

#logInScreen input {
    border: none;
    border-bottom: 2px solid lightgray;
    width: 100%;
    font-size: 4vmin;
    margin: 1.5vh 0;
    padding: .1rem;
    outline: none;
    transition: 200ms ease-in-out border-color;
}

#logInScreen input:focus {
    border-color: #486491;
}

.btnWrapper {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
}

#logInScreen .button {
    border-radius: 3px;
    outline: none;
    padding: 3vmin;
    background: #03a87c;
    color: white;
    border: #03a87c;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    letter-spacing: .35px;
    user-select: none;
    margin-bottom: 5vh;
}

#backButton {
    width: 30%;
    position: fixed;
    left: 32vw;
    bottom: 5vh;
    transition: opacity 200ms ease-in-out;
}

#logInScreen p {
    margin: .5vh 0;
}

#unUpFeedback, #emUpFeedback, #emInFeedback {
    color: red;
    font-size: 3.5vmin;
    text-align: left;
    margin: 0 0 1vh 0 !important;
    width: 100%;
}

#pwUpFeedback, #pwInFeedback {
    color: red;
    font-size: 3.5vmin;
    text-align: left;
    margin: 0 0 3vh 0 !important;
    width: 70vw;
}

.errorInput {
    border-color: red !important;
}
.errorInput:focus {
    border-color: red !important;
}

/* forgot password */
#passwordForgotWrapper {
    width: 75vw;
    height: auto;
    padding: 0 5vw 2vh;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    border-radius: 5px;
    background: white;
    font-size: 4vmin;
    opacity: 0;
    transform: scale(.6);
    position: absolute;
    top: 22vh;
    left: 7.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 102;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

#disablePasswordForgotWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

#forgotPWEmail {
    margin-bottom: 0 !important;
}

#forgotButtonWrapper {
    width: 100%;
    height: auto;
    margin: .8vh 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#sendForgotEmail {
    width: 23%;
    padding: 2vmin !important;
    margin-bottom: 0 !important;
}

.infoText {
    font-size: 3.5vmin;
    text-align: left;
    margin: 4vh 0 0 0 !important;
}

#fgtEMFeedback {
    width: 90%;
    text-align: left;
    font-size: 4vmin;
    color: red;
}

.infoText i {
    margin-right: 1vw;
}