.changeInformationBox {
    width: 80vw;
    margin: 2vh 0;
    font-size: 4vmin;
}

.changeInformationBox h3 {
    margin-bottom: .5vh;
}

.changeInformationBox input, #authorizeWrapper input {
    border: none;
    border-bottom: 2px solid lightgray;
    width: 100%;
    font-size: 4vmin;
    font-family: 'Lato', sans-serif;
    padding: .1rem;
    margin: .5em 0;
    outline: none;
    transition: 200ms ease-in-out border-color;
}

.changeInformationBox input:focus, #authorizeWrapper input:focus {
    border-color: #486491;
}

.changeInformationBox .button, #authorizeWrapper .button {
    width: 50%;
    border-radius: 3px;
    padding: 1.25vh 0;
    margin: 1.5vh 0 1.5vh 41vw;
    text-align: center;
    background: #03a87c;
    color: white;
    border: #486491;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    letter-spacing: .35px;
    user-select: none;
    outline: none;
}

.changeInformationBox .danger {
    background: #ee5a5a;
    margin: 1.5vh 0;
}

#newUsernameFDB, #newEmailFDB, #newPasswordFDB {
    color: red;
    margin: 0;
}

#successMessage {
    max-width: 90vw;
    position: fixed;
    bottom: 15vh;
    background: #1b3647;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    padding: 1.4vh 3vw;
    opacity: 0;
    transform: scale(.6);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

#authorizeWrapper {
    width: 80vw;
    height: 50vh;
    padding: 25vh 10vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}