#navWrapper {

}

#navBurger {

}

#navBurger p {
  width: 80px;
  height: 10px;
  background: black;
  margin: 1.5%;
}

#burger1 {
  transition: all 100ms ease-in-out;
}

#burger2 {
  transition: all 100ms ease-in-out;
}

#burger3 {
  transition: all 100ms ease-in-out;
}

#burger1:#hover {
  transform: rotateX(-45deg);
}
