/* entries */
.entry {
    width: 70vw;
    padding: 0 5vw;
    margin: 1vh 0;
    border: 1px solid #486491;
    border-radius: 3px;
    font-size: 4.5vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry .arrowAndMoneyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry p {
    margin: 2vh 0;
}

.entry .arrowAndMoneyWrapper p {
    margin: 0 2vw;
}

#entriesErrorMessage, #deletedEntriesErrorMessage {
    color: red;
    width: 80vw;
    text-align: left;
    font-size: 4vmin;
}

#entryWrapper, #deletedEntryWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    transition: left 300ms ease-in-out;
}

#detailedEntriesWrapper, #deletedDetailedEntriesWrapper, #deletedDetailedEntriesWrapper {
    width: 100vw;
    height: 81vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 100vw;
    font-size: 4.5vmin;
    overflow-y: scroll;
    transition: left 300ms ease-in-out;
}

#detailedEntriesWrapper .detailedEntry, #deletedDetailedEntriesWrapper .detailedEntry {
    width: 80vw;
    border: 1px solid #486491;
    border-radius: 3px;
    margin: 2vh 0;
    padding: 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#detailedEntriesWrapper .detailedEntry p, #deletedDetailedEntriesWrapper .detailedEntry p {
    margin: 1vh 0;
}

#detailedEntriesWrapper .entryDataWrapper, #deletedDetailedEntriesWrapper .entryDataWrapper {
    width: 100%;
    height: 100%;
}

.detailedRow {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#detailedEntriesWrapper .entryIconWrapper, #deletedDetailedEntriesWrapper .entryIconWrapper {
    width: 3vw;
    height: 100%;
    font-size: 5.5vw;
    margin: .1vh 2vw .25vh 1.25vw;
}

#detailedEntriesWrapper .entryIconWrapper i, #deletedDetailedEntriesWrapper .entryIconWrapper i {
    text-align: center;
    width: 5.5vw;
    margin: .7vh 0;
}