/* entries */
.entry {
    width: 70vw;
    padding: 0 5vw;
    margin: 1vh 0;
    border: 1px solid #486491;
    border-radius: 3px;
    font-size: 4.5vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry .arrowAndMoneyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry p {
    margin: 2vh 0;
}

.entry .arrowAndMoneyWrapper p {
    margin: 0 2vw;
}

#entriesErrorMessage, #deletedEntriesErrorMessage {
    color: red;
    width: 80vw;
    text-align: left;
    font-size: 4vmin;
}

#entryWrapper, #deletedEntryWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    transition: left 300ms ease-in-out;
}

#detailedEntriesWrapper, #deletedDetailedEntriesWrapper {
    width: 100vw;
    height: 81vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 100vw;
    font-size: 4.5vmin;
    overflow-y: scroll;
    transition: left 300ms ease-in-out;
}

#detailedEntriesWrapper .detailedEntry, #deletedDetailedEntriesWrapper .detailedEntry {
    width: 80vw;
    border: 1px solid #486491;
    border-radius: 3px;
    margin: 2vh 0;
    padding: 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#detailedEntriesWrapper .detailedEntry p, #deletedDetailedEntriesWrapper .detailedEntry p {
    margin: 1vh 0;
}

#detailedEntriesWrapper .detailedEntry p:nth-last-child(1) {
    font-size: 3vmin;
}

#detailedEntriesWrapper .entryDataWrapper, #deletedDetailedEntriesWrapper .entryDataWrapper {
    width: 100%;
    height: 100%;
}

.detailedRow {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#detailedEntriesWrapper .entryIconWrapper, #deletedDetailedEntriesWrapper .entryIconWrapper {
    width: 3vw;
    height: 100%;
    font-size: 5.5vw;
    margin: .1vh 2vw .25vh 1.25vw;
}

#detailedEntriesWrapper .entryIconWrapper i, #deletedDetailedEntriesWrapper .entryIconWrapper i {
    text-align: center;
    width: 5.5vw;
    margin: .7vh 0;
}

#editEntryWrapper {
    width: 100vw;
    height: 81vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 200vw;
    font-size: 4.5vmin;
    overflow-y: scroll;
    transition: left 300ms ease-in-out;
}

#editEntryWrapper .getDataBox {
    margin: 1vh 0;
}

#editEntryWrapper .getDataBox:nth-child(1) input {
    color: black;
}

#editButtonBar {
    width: 80%;
    margin-top: 2vh;
}

#editEntryWrapper #editButtonBar .button {
#editButtonBar, #editEntryWrapper .getDataBox {
    transition: opacity 300ms ease-in-out;
}
    width: 98%;
    margin: 1.8vh 0;
    padding: 1.3vh 1vw;
    color: #fff;
    text-align: center;
    font-size: 4vmin;
    border-radius: 3px;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
}

#editEntryWrapper #editButtonBar .button:nth-child(1) {
    background: #03a87c;
}

#editEntryWrapper #editButtonBar .button:nth-child(2) {
    background: #ee5a5a;
}