#feedbackWindow {
    max-height: 81vh;
    overflow-y: scroll !important;
    font-size: 4vmin;
}

#feedbackContent {
    width: 80vw;
    padding: 0 10vw;
}

#feedbackContent input, #feedbackContent textarea {
    width: 95%;
    margin: 1.5vh 0;
    padding: 1vh 2vw;
    font-size: 4vmin;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    outline: none;
    border-bottom: 2px solid lightgray;
    resize: none;
    transition: border-color 300ms ease-in-out;
}

#subjectFDB, #messageFDB {
    margin: 0;
    color: red;
    font-size: 3.5vmin;
}

#feedbackFDB {
    margin: 0;
}

#feedbackContent input:focus, #feedbackContent textarea:focus {
    border-color: #486491;
}

#feedbackContent .button {
    width: 98%;
    margin: 1.5vh 0;
    padding: 1.3vh 1vw;
    color: #fff;
    text-align: center;
    font-size: 4vmin;
    border-radius: 3px;
    background: #03a87c;
}