header {
    width: 94vw;
    height: 9vh;
    padding: 0 3vw;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

header i {
    font-size: 12vmin;
    margin-right: 2.5vw;
}

header h1 {
    user-select: none;
    font-size: 9vmin;
    margin: 0;
}