/*
* colors
* #3fa9f5
*/

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

#mainScreen {
    background: white;
    width: 100vw;
    height: 100vh;
}

.hide {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
}