body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#navWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

#navBurger {
  position: absolute;
  transition: left 500ms ease-in-out;
  left: 0;
}

#navBurger p {
  width: 11.4vw;
  height: 2vw;
  background: black;
  border-radius: 5px;
  margin: 2vw;
}

#burger1 {
  transition: all 200ms ease-in-out;
  transform-origin: left;
}

#burger2 {
  transition: all 200ms ease-in-out;
}

#burger3 {
  transition: all 200ms ease-in-out;
  transform-origin: left;
}

.burger1Active {
  transform: rotateZ(45deg);
}

.burger2Active {
  opacity: 0;
}

.burger3Active {
  transform: rotateZ(-45deg);
}

/* nav bar */

#nav {
  height: 100vh;
  background-color: white;
  width: 80vw;
  margin: 0 auto;
  box-shadow: 7px 0px 5px 1px rgba(189,189,189,0.5);
  position: fixed;
  top: 0;
  font-size: 300%;
  display: flex;
  justify-content: center;
  left: -90vw;
  transition: left 500ms ease-in-out;
}

#nav p {
  margin: 8vw 0 6vw 0;
}

#nav img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#nav i {
  margin-right: 5%;
}

#textWrapper {
  width: 80%;
}

#copyright {
  font-size: 60% !important;
  text-align: center;
  margin: 0 auto !important;
}
