body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* nav bar */
#nav {
  height: 100vh;
  background-color: white;
  width: 80vw;
  margin: 0 auto;
  box-shadow: 7px 0px 5px 1px rgba(189,189,189,0.5);
  position: fixed;
  top: 0;
  font-size: 300%;
  display: flex;
  justify-content: center;
  z-index: 101;
}

#nav p {
  margin: 8vw 0 6vw 0;
}

#nav img {
  width: 100%;
  position: relative;
  top: 5vmin;
  left: 0;
}

#nav i {
  margin-right: 5%;
}

#textWrapper {
  width: 80%;
}

#copyright {
  font-size: 60% !important;
  text-align: center;
  margin: 0 auto !important;
}

#usernameField {
  font-size: 100%;
  font-weight: bold;;
}

#disableNav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}
