body {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    width: 100vw;
    height: 65vh;
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header h1 {
    width: 50%;
    margin: 0;
    padding: 1vh 0;
    text-align: left;
    color: #303030;
    opacity: .8;
    font-size: 1.2vw;
}

header a {
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    border-radius: 7px;
    background: #42b983;
    color: #fff;
    font-size: larger;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
}

/* Sections */
section {
    width: 100vw;
    min-height: 75vh;
    background: #f5f5f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

section img {
    width: 13vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

section h1 {
    position: absolute;
    top: 67vh;
    font-size: 1.6vw;
    color: #353535;
}

section .contentWrapper {
    width: 50vw;
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

section .contentWrapper p {
    margin: 0;
}

#featureWrapper {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.feature {
    width: 100%;
    margin: 1.25vh 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.feature p {
    width: 21vw !important;
}

.feature i, .feature span {
    font-size: 1.6vw;
    margin-right: 1.3vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.feature:nth-child(1) i, .feature:nth-child(1) span {
    color: #42b983;
}

.feature:nth-child(2) i, .feature:nth-child(2) span {
    color: #486491;
}

.feature:nth-child(3) i, .feature:nth-child(3) span {
    color: #54a1e1;
}

.feature:nth-child(4) i, .feature:nth-child(4) span {
    color: #727272;
}

.feature:nth-child(5) i, .feature:nth-child(5) span {
    color: #ff7c7c;
}

/* Footer */
footer {
    width: 100vw;
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #353535;
    color: #fff;
}

footer p {
    margin: 0;
}

/* Mobile */
@media screen and (max-aspect-ratio: 1/1) {
    header a {
        padding: 2vh 3vw;
    }

    header h1 {
        width: 100%;
        padding: 2vh 0;
        text-align: center;
        font-size: 9vw;
    }
    
    section .contentWrapper {
        width: 80vw;
        height: 100vw;
    }

    section img {
        display: none;
    }

    section h1 {
        font-size: 6vw;
    }

    #featureWrapper {
        width: 100%;
    }

    .feature i, .feature span {
        font-size: 8vw;
    }

    .feature p {
        width: 80% !important;
    }

    footer {
        font-size: 3vw;
    }
}