body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

h1 {
  user-select: none;
  font-size: 500%;
  margin-left: 2vw;
  margin-top: 15vw;
  margin-bottom: 1%;
}

#contentWrapper {
  width: 100%;
  height: 89%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #5ac878;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-size: 400%;
  padding: 1%;
  margin: 0;
  color: #242424;
}

footer i {
  cursor: pointer;
}

.hide {
  display: none !important;
}


#plusWrapper, #accountWrapper, #infoWrapper, #securityWrapper, #deletedWrapper, #supportWrapper, #settingsWrapper, #kontoWrapper {
  display: none;
  height: 89vh;
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
}

#contentWrapper {
  opacity: 1;
}

#accountWrapper #signIn {
  opacity: 1;
  width: 80%;
  position: fixed;
  left: 10%;
}

.button {
  background: #1a73e8;
  border-radius: 15px;
  outline: none;
  border: #1a73e8;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 275%;
  box-shadow: 2px 5px 7px 0px rgba(143,143,143,1);
  letter-spacing: .50px;
  user-select: none;
  float: right;
  width: 17vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  border: none;
  border-bottom: lightgray 5px solid;
  height: 35pt;
  width: 100%;
  display: block;
  font-size: 30pt;
  transition: border-bottom 250ms ease;
  cursor: text;
  margin: 0 0 1.5% 0;
  padding: 0;
}

#accountWrapper p, #contentWrapper p, #plusWrapper p, #deletedWrapper p {
  font-size: 250%;
}

input:focus {
  border-bottom: #5ac878 5px solid;
}

span {
  user-select: none;
  position: relative;
  left: 0;
  pointer-events: none;
  font-size: 25pt;
  top: 0;
}

#accountWrapper #signUp {
  display: none;
  width: 80%;
  position: fixed;
  left: 10%;
}

#goToSignIn, #goToSignUp {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

br {
  user-select: none;
}

#plusWrapper {
  display: none;
  width: 80%;
  position: fixed;
  left: 10%;
}

#signOut {
  display: none;
}

#deletedEntriesWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Special Text */

.specialTextWrapper {
  text-align: justify;
  font-size: 230%;
  margin-left: 10%;
  line-height: 150%;
  overflow-y: scroll;
  padding-right: 10%;
  height: 100vh;
  position: relative;
  left: 0;
}

.specialTextWrapper span {
  font-size: 40% !important;
}

.specialTextWrapper .headline {
  font-weight: bold;
  font-size: 110%;
}

#version {
  font-size: 170%;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

/* Liste */

#entryWrapper {
  width: 100vw;
  height: auto;
  overflow-y: scroll !important;
  overflow-x: hidden;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eintrag {
  width: 80%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px 0px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin: 2%;
  font-size: 250%;
}

.eintrag i {
  position: absolute;
  right: 11vw;
  font-size: 200%;
  cursor: pointer;
}

/* Loader */

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loader div {
  border-radius: 100%;
  background-color: white;
  width: 2vw;
  height: 2vw;
}

.animate {
  animation: loaderDot 750ms ease-in-out infinite;
}

@keyframes loaderDot {
  0%  {opacity: 1}
  50% {opacity: 0}
  100%{opacity: 1}
}

/* Konto */

#kontoWrapper form, #delAccWrapper {
  width: 80vw;
  margin-bottom: 20%;
  margin-left: 10vw;
}

#kontoWrapper form h2 {
  font-size: 5vw;
}

#formWrapper {
  height: 79vh;
  width: 100%;
  overflow-y: scroll;
  padding-right: 10%;
}

#delAccWrapper .button {
  background: #e81a1ab8;
  border-color: #e81a1ab8;
  width: 30vw;
}

#deleteAccPopUp {
  width: 85vw;
  height: 30vh;
  display: none;
  position: absolute;
  left: 7.5vw;
  top: 30vh;
  box-shadow: 0px 0px 24px 1px rgba(189,189,189,0.5);
  background-color: white;
  border-radius: 20px;
}
