.textWrapper {
    width: 80vw;
    padding: 0 10vw;
    font-size: 4vmin;
}

iframe {
    width: 90%;
    height: 100%;
}

iframe p {
    color: red;
}

#securityWindow p {
    width: 80vw;
    padding: 0 10vw;
    text-align: center;
}